
.releasy .gantt {
    height: 235px;
}

.releasy .detail {
    height: 250px;
}

.releasy .patchTime {
    height: 140px;
}

.releasy .gantt .grid line {
    stroke: #ddd;
    stroke-width: 1px;
}

.releasy .gantt .featureRls rect {
    fill: #99d8c9; 
}

.releasy .gantt .featureRls rect.major {
    fill: #d8b365; 
}

.releasy .gantt .patchRls rect {
    /* stroke: #99d8c9;  */
    /* stroke-width: 2px;  */
    fill: #2ca25f;
}

.releasy .gantt .featureRls text {
    font-size: 12px;
    text-anchor: start;
}

.releasy .gantt .selected {
    stroke: blueviolet;
    stroke-width: 3px;
}

.releasy .detail .featureRls circle {
    fill: #99d8c9; 
}

.releasy .detail .featureRls circle.major {
    fill: #d8b365; 
}

.releasy .detail .patchRls circle {
    fill: #2ca25f; 
}

.releasy .detail .patchRls line {
    stroke: #2ca25f; 
    stroke-width: 2px;
}

.releasy .patchTime .patchRls line {
    stroke: #2ca25f; 
    stroke-width: 2px;
}

.zoom {
    fill: none;
    pointer-events: all;
}
