
g.release.data rect {
    fill: none;
    stroke: #000;
}

g.release.data rect.PATCH {
}

g.release.data rect.MINOR {
    fill: green;
}

g.release.data rect.MAJOR {
    fill: blue;
}

g.release.data text {
    display: none;
    font-size:  8pt;

}

.zoom {
    fill: none;
    pointer-events: all;
}
