
.releasy .gantt {
    height: 285px;
}

.releasy .gantt .grid line {
    stroke: #ddd;
    stroke-width: 1px;
}

.releasy .gantt .featureRls rect {
    fill: #99d8c9; 
}

.releasy .gantt .featureRls rect.major {
    fill: #d8b365; 
}

.releasy .gantt .patchRls rect {
    stroke: #99d8c9; 
    /* stroke-width: 2px;  */
    fill: #2ca25f;
}

.releasy .gantt .featureRls text {
    font-size: 12px;
    text-anchor: start;
}




g.release.data rect {
    fill: none;
    stroke: #000;
}

g.release.data rect.PATCH {
}

g.release.data rect.MINOR {
    fill: green;
}

g.release.data rect.MAJOR {
    fill: blue;
}

g.release.data text {
    /* display: none; */
    font-size:  8pt;

}

g.patches.data rect {
    fill: gray;
    stroke: #000;
}

.zoom {
    fill: none;
    pointer-events: all;
}

path.start {
    fill: none;
    stroke: blue;
}

path.end {
    fill: none;
    stroke: red;
}

line {
    stroke: gray;
}