
g.release.data rect {
    fill: none;
    stroke: #000;
}

g.release.data rect.PATCH {
}

g.release.data rect.MINOR {
    fill: green;
}

g.release.data rect.MAJOR {
    fill: blue;
}

g.release.data text {
    /* display: none; */
    font-size:  8pt;

}

g.patches.data rect {
    fill: gray;
    stroke: #000;
}

.zoom {
    fill: none;
    pointer-events: all;
}

path.start {
    fill: none;
    stroke: blue;
}

path.end {
    fill: none;
    stroke: red;
}

line {
    stroke: gray;
}